#title,.subtitle,.post_title{
    color:rgb(12, 12, 12)
}
#title{
    font-size: 30px;
    text-transform:uppercase;
}
.post_title{
    font: size 16px; 
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}
body{
    background-color: rgb(129, 168, 168);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;

}
.post{
    background: rgb(235, 223, 223);
    padding: 10px;
    border: 3px solid #2c2929 ;
    margin: 10px;
    border-radius: 10px;

}
a{
    text-decoration:underline;
    color: #2c2929;
}
.post_contente{
    margin: 0;
    margin-bottom: 15px;
    text-align: left;
}
.img1{
    border-radius: 15px;
    width: 30%;
    

}
.img2{
    border-radius: 50px;
    width: 100%;

}
.li{
    list-style-type: none;
}